<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="favicon.ico">
<title>Circular Free Theme | Dark-Blue</title>
<style>
#nav_logo{
	height : auto;
	width : 200px;

}
</style>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300|Open+Sans:300" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link href="/static/css/theme.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body class="circular-theme--two">
	<div class="header" id="header">
		<nav class="navbar navbar-expand-lg navbar-transparent" id="navigation">
			<a class="navbar-brand d-lg-none" href="#">
		    <img  id = "nav_logo" src="\static\images\Certasun Logo White-Orange (Stacked Tagline) (for Dark Background).png"  class="d-inline-block align-top" alt="">
		  </a>
			<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
				<a class="navbar-brand order-1 d-none d-lg-block" href="#">
			    <img id = "nav_logo" src="/static/images/CertasunLogo.png"  class="d-inline-block align-top" alt="">
				</a>
			</div>
		</nav>
		<div class="container">
      <div class="header-text">
        <h2>Certasun Payment Portal</h2>
        <p>Enter your email to bring up your payment profile</p>
      </div>
			<div class="row header-btns">
        <div class="col text-center" >
            <button class=" btn-circular btn-white-line">Learn More</button>
        </div>
			</div>
		</div>
	</div>


<!-- 	footer -->
	<div class="footer">
		<div class="container-fluid">
			<div class="row">
        <div class="col-sm-12 col-md-3 logo">
              <img class="img-fluid" src="/static/images/CertasunLogo.png" />
          </div>
          <div class="col-sm-12 col-md-3 social">
              <a href="javascript:void(0)">
                  <img class="img-fluid" src="/static/img/2/facebook_logo.png">
              </a>
              <a href="javascript:void(0)">
                  <img class="img-fluid" src="/static/img/2/dribbble_logo2.png">
              </a>
              <a href="javascript:void(0)">
                  <img class="img-fluid" src="/static/img/2/twitter_logo.png">
              </a>
              <a href="javascript:void(0)">
                  <img class="img-fluid" src="/static/img/2/instagram_logo.png">
              </a>
          </div>
			</div>
			<div class="row">
				<div class="col-md-4 offset-md-4 copyright">
					© Copyright <script>document.write(new Date().getFullYear())</script>, Circular Theme. All rights are reserved.
				</div>
			</div>
		</div>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
